<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="/static/login.css"> <!-- Replace "styles.css" with the actual path to your CSS file -->

    <style>
        .center-text {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top">
            <!-- Center the text -->
            <h2 class="center-text">Welcome to PlasticScan!</h2>
        </div>
        <div class="bottom"></div>
        <div class="center">
            <input type="email" placeholder="Email" title="Enter a valid email" pattern="[A-Za-z][A-Za-z0-9]*@gmail.com" name="email">
            <input type="password" placeholder="Password">
            <button type="button" onclick="login()">Login</button>
            <p>Don't have an account? <a href="#" onclick="signup()">Sign Up</a></p>
        </div>
    </div>

    <script>
        function login() {
            // You can add your login logic here
            // Redirect to mainp.html when clicking the Login button
            window.location.href = "/mainp.html";
        }

        function signup() {
            // You can add your sign-up logic here
            // Redirect to register.html when clicking the Sign Up link
            window.location.href = "/register.html";
        }
    </script>
</body>
</html>
